[submodule "themes/risotto"]
    path = themes/risotto
    url = https://github.com/joeroe/risotto.git
[submodule "themes/hugo-theme-flat"]
	path = themes/hugo-theme-flat
	url = https://github.com/dabzr/hugo-theme-flat.git
